[submodule "module/GoldenBoughsLib"]
	path = module/GoldenBoughsLib
	url = https://github.com/Architecture-Department/GoldenBoughsLib
	branch = main
[submodule "module/EGOCurios"]
	path = module/EGOCurios
	url = https://github.com/Architecture-Department/EGOCurios
	branch = main
