# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run/
run-data/
runs
run-data

repo
/module/ImaginaryCraft/src/generated/
/.ai/ai-ctx-20260129-112213.txt
/.ai/
.vscode/*
.gitignore
.history
.trae

generated/
build/

# idea
*.log

# other
*.hprof
*.nphd
*.ref
*.map

#vscode
.vscode/
.history/
